<html>

<head>

  <%- include ../partials/head %>

</head>

<body>

  <%- include ../partials/header-top %>

  <%- include ../partials/header %>

  <main>

    <%- body -%>

  </main>

  <%- include ../partials/footer %>

</body>

</html>