<% layout( '../.././layouts/default' ) -%>

<div class="news-single">

  <div class="page-title" style="background-image: url('/images/<%= heroImage %>'); ">

    <h2 class="text-center"><%= title %></h2>

  </div>

  <div class="container mt-4 mb-5">

    <div class="row">
      <div class="col-md-8">

        <p><%= content %></p>

      </div>

      <div class="col-md-4">

        <aside>
          <h4>Recent news stories</h4>
          <ul>

            <% for (var i = 0; i < news.length; i++) {%>

            <li><a href="<%= news[i].permalink %>"><%= news[i].title %></a></li>

            <%}%>

          </ul>

        </aside>

      </div>

    </div>

  </div>

</div>